USE [master]
GO
/****** Object:  Database [OtelRezarvasyon]    Script Date: 20.12.2019 09:42:28 ******/
CREATE DATABASE [OtelRezarvasyon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OtelRezarvasyon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OtelRezarvasyon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OtelRezarvasyon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OtelRezarvasyon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OtelRezarvasyon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OtelRezarvasyon]
GO
USE [OtelRezarvasyon]
GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 20.12.2019 09:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriAd] [nvarchar](50) NOT NULL,
	[MusteriSoyad] [nvarchar](50) NOT NULL,
	[MusteriDTarih] [datetime] NOT NULL,
	[Cinsiyet] [int] NOT NULL,
	[Adres] [nvarchar](70) NOT NULL,
	[Tel] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Musteri] PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oda]    Script Date: 20.12.2019 09:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oda](
	[OdaID] [int] IDENTITY(1,1) NOT NULL,
	[OtelID] [int] NOT NULL,
	[OdaBoyut] [int] NOT NULL,
	[OdaFiyat] [int] NOT NULL,
	[OdaDurum] [bit] NOT NULL,
 CONSTRAINT [PK_Oda] PRIMARY KEY CLUSTERED 
(
	[OdaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OdaOzellik]    Script Date: 20.12.2019 09:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OdaOzellik](
	[OdaOzellikID] [int] IDENTITY(1,1) NOT NULL,
	[OdaID] [int] NOT NULL,
	[OzellikID] [int] NOT NULL,
	[OzellikDurum] [bit] NOT NULL,
 CONSTRAINT [PK_OdaOzellik] PRIMARY KEY CLUSTERED 
(
	[OdaOzellikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Otel]    Script Date: 20.12.2019 09:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Otel](
	[OtelID] [int] IDENTITY(1,1) NOT NULL,
	[OtelAdi] [nvarchar](50) NOT NULL,
	[OtelSehir] [int] NOT NULL,
	[OtelIlce] [nvarchar](50) NOT NULL,
	[OtelDurum] [bit] NOT NULL,
 CONSTRAINT [PK_Otel] PRIMARY KEY CLUSTERED 
(
	[OtelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OtelOzellik]    Script Date: 20.12.2019 09:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtelOzellik](
	[OtelOzellikID] [int] IDENTITY(1,1) NOT NULL,
	[OtelID] [int] NOT NULL,
	[OzellikID] [int] NOT NULL,
	[OzellikDurum] [bit] NOT NULL,
 CONSTRAINT [PK_OtelOzellik] PRIMARY KEY CLUSTERED 
(
	[OtelOzellikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ozellik]    Script Date: 20.12.2019 09:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ozellik](
	[OzellikID] [int] IDENTITY(1,1) NOT NULL,
	[OzellikAd] [nvarchar](50) NOT NULL,
	[OzellikTip] [int] NOT NULL,
 CONSTRAINT [PK_Ozellik] PRIMARY KEY CLUSTERED 
(
	[OzellikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rezervasyon]    Script Date: 20.12.2019 09:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervasyon](
	[RezervasyonID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NOT NULL,
	[GirisTarihi] [datetime] NOT NULL,
	[CikisTarihi] [datetime] NOT NULL,
	[OtelID] [int] NOT NULL,
	[OdaID] [int] NOT NULL,
	[islemTarihi] [datetime] NULL,
 CONSTRAINT [PK_Rezervasyon] PRIMARY KEY CLUSTERED 
(
	[RezervasyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Musteri] ON 

INSERT [dbo].[Musteri] ([MusteriID], [MusteriAd], [MusteriSoyad], [MusteriDTarih], [Cinsiyet], [Adres], [Tel], [Email]) VALUES (1, N'nuru', N'karatas', CAST(N'1997-01-25T00:00:00.000' AS DateTime), 1, N'istan', N'1563432', N'asdfasdf@gamil.com')
INSERT [dbo].[Musteri] ([MusteriID], [MusteriAd], [MusteriSoyad], [MusteriDTarih], [Cinsiyet], [Adres], [Tel], [Email]) VALUES (2, N'asdasda', N'sdasd', CAST(N'2019-12-19T00:00:00.000' AS DateTime), 0, N'sdads', N'(111) 111-1111', N'asdasda')
INSERT [dbo].[Musteri] ([MusteriID], [MusteriAd], [MusteriSoyad], [MusteriDTarih], [Cinsiyet], [Adres], [Tel], [Email]) VALUES (3, N'evet', N'evet', CAST(N'2019-12-19T00:00:00.000' AS DateTime), 0, N'asdfasdf', N'(111) 111-1111', N'asdasd')
SET IDENTITY_INSERT [dbo].[Musteri] OFF
SET IDENTITY_INSERT [dbo].[Oda] ON 

INSERT [dbo].[Oda] ([OdaID], [OtelID], [OdaBoyut], [OdaFiyat], [OdaDurum]) VALUES (1, 5, 0, 220, 1)
INSERT [dbo].[Oda] ([OdaID], [OtelID], [OdaBoyut], [OdaFiyat], [OdaDurum]) VALUES (2, 6, 0, 102, 1)
INSERT [dbo].[Oda] ([OdaID], [OtelID], [OdaBoyut], [OdaFiyat], [OdaDurum]) VALUES (3, 5, 0, 220, 1)
SET IDENTITY_INSERT [dbo].[Oda] OFF
SET IDENTITY_INSERT [dbo].[OdaOzellik] ON 

INSERT [dbo].[OdaOzellik] ([OdaOzellikID], [OdaID], [OzellikID], [OzellikDurum]) VALUES (53, 2, 7, 1)
INSERT [dbo].[OdaOzellik] ([OdaOzellikID], [OdaID], [OzellikID], [OzellikDurum]) VALUES (54, 2, 6, 1)
INSERT [dbo].[OdaOzellik] ([OdaOzellikID], [OdaID], [OzellikID], [OzellikDurum]) VALUES (57, 19, 10, 1)
SET IDENTITY_INSERT [dbo].[OdaOzellik] OFF
SET IDENTITY_INSERT [dbo].[Otel] ON 

INSERT [dbo].[Otel] ([OtelID], [OtelAdi], [OtelSehir], [OtelIlce], [OtelDurum]) VALUES (1, N'ArtıkHisar', 7, N'Artço', 1)
INSERT [dbo].[Otel] ([OtelID], [OtelAdi], [OtelSehir], [OtelIlce], [OtelDurum]) VALUES (2, N'Ceyhan Yıldız Oteli', 0, N'Ceyhan', 0)
INSERT [dbo].[Otel] ([OtelID], [OtelAdi], [OtelSehir], [OtelIlce], [OtelDurum]) VALUES (3, N'Çiğköfte Oteli', 1, N'Falan', 0)
SET IDENTITY_INSERT [dbo].[Otel] OFF
SET IDENTITY_INSERT [dbo].[OtelOzellik] ON 

INSERT [dbo].[OtelOzellik] ([OtelOzellikID], [OtelID], [OzellikID], [OzellikDurum]) VALUES (1, 1, 5, 1)
INSERT [dbo].[OtelOzellik] ([OtelOzellikID], [OtelID], [OzellikID], [OzellikDurum]) VALUES (2, 1, 3, 1)
INSERT [dbo].[OtelOzellik] ([OtelOzellikID], [OtelID], [OzellikID], [OzellikDurum]) VALUES (3, 1, 4, 1)
SET IDENTITY_INSERT [dbo].[OtelOzellik] OFF
SET IDENTITY_INSERT [dbo].[Ozellik] ON 

INSERT [dbo].[Ozellik] ([OzellikID], [OzellikAd], [OzellikTip]) VALUES (1, N'Havuz', 0)
INSERT [dbo].[Ozellik] ([OzellikID], [OzellikAd], [OzellikTip]) VALUES (2, N'Kapalı Havuz', 0)
INSERT [dbo].[Ozellik] ([OzellikID], [OzellikAd], [OzellikTip]) VALUES (3, N'Otopark', 0)
SET IDENTITY_INSERT [dbo].[Ozellik] OFF
SET IDENTITY_INSERT [dbo].[Rezervasyon] ON 

INSERT [dbo].[Rezervasyon] ([RezervasyonID], [MusteriID], [GirisTarihi], [CikisTarihi], [OtelID], [OdaID], [islemTarihi]) VALUES (5, 6, CAST(N'2019-12-19T17:57:19.783' AS DateTime), CAST(N'2019-12-19T17:57:19.783' AS DateTime), 6, 2, CAST(N'2019-12-19T17:58:19.720' AS DateTime))
INSERT [dbo].[Rezervasyon] ([RezervasyonID], [MusteriID], [GirisTarihi], [CikisTarihi], [OtelID], [OdaID], [islemTarihi]) VALUES (6, 7, CAST(N'2019-12-19T18:02:47.000' AS DateTime), CAST(N'2019-12-21T18:02:47.000' AS DateTime), 5, 3, CAST(N'2019-12-19T18:03:48.820' AS DateTime))
INSERT [dbo].[Rezervasyon] ([RezervasyonID], [MusteriID], [GirisTarihi], [CikisTarihi], [OtelID], [OdaID], [islemTarihi]) VALUES (7, 8, CAST(N'2019-12-19T18:06:55.877' AS DateTime), CAST(N'2019-12-19T18:06:55.877' AS DateTime), 8, 24, CAST(N'2019-12-19T18:09:00.500' AS DateTime))
SET IDENTITY_INSERT [dbo].[Rezervasyon] OFF
ALTER TABLE [dbo].[Oda]  WITH CHECK ADD  CONSTRAINT [FK_Oda_Otel] FOREIGN KEY([OtelID])
REFERENCES [dbo].[Otel] ([OtelID])
GO
ALTER TABLE [dbo].[Oda] CHECK CONSTRAINT [FK_Oda_Otel]
GO
ALTER TABLE [dbo].[OdaOzellik]  WITH CHECK ADD  CONSTRAINT [FK_OdaOzellik_Oda] FOREIGN KEY([OdaID])
REFERENCES [dbo].[Oda] ([OdaID])
GO
ALTER TABLE [dbo].[OdaOzellik] CHECK CONSTRAINT [FK_OdaOzellik_Oda]
GO
ALTER TABLE [dbo].[OdaOzellik]  WITH CHECK ADD  CONSTRAINT [FK_OdaOzellik_Ozellik] FOREIGN KEY([OzellikID])
REFERENCES [dbo].[Ozellik] ([OzellikID])
GO
ALTER TABLE [dbo].[OdaOzellik] CHECK CONSTRAINT [FK_OdaOzellik_Ozellik]
GO
ALTER TABLE [dbo].[OtelOzellik]  WITH CHECK ADD  CONSTRAINT [FK_OtelOzellik_Otel] FOREIGN KEY([OtelID])
REFERENCES [dbo].[Otel] ([OtelID])
GO
ALTER TABLE [dbo].[OtelOzellik] CHECK CONSTRAINT [FK_OtelOzellik_Otel]
GO
ALTER TABLE [dbo].[OtelOzellik]  WITH CHECK ADD  CONSTRAINT [FK_OtelOzellik_Ozellik] FOREIGN KEY([OzellikID])
REFERENCES [dbo].[Ozellik] ([OzellikID])
GO
ALTER TABLE [dbo].[OtelOzellik] CHECK CONSTRAINT [FK_OtelOzellik_Ozellik]
GO
ALTER TABLE [dbo].[Rezervasyon]  WITH CHECK ADD  CONSTRAINT [FK_Rezervasyon_Musteri] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteri] ([MusteriID])
GO
ALTER TABLE [dbo].[Rezervasyon] CHECK CONSTRAINT [FK_Rezervasyon_Musteri]
GO
ALTER TABLE [dbo].[Rezervasyon]  WITH CHECK ADD  CONSTRAINT [FK_Rezervasyon_Oda] FOREIGN KEY([OdaID])
REFERENCES [dbo].[Oda] ([OdaID])
GO
ALTER TABLE [dbo].[Rezervasyon] CHECK CONSTRAINT [FK_Rezervasyon_Oda]
GO
ALTER TABLE [dbo].[Rezervasyon]  WITH CHECK ADD  CONSTRAINT [FK_Rezervasyon_Otel] FOREIGN KEY([OtelID])
REFERENCES [dbo].[Otel] ([OtelID])
GO
ALTER TABLE [dbo].[Rezervasyon] CHECK CONSTRAINT [FK_Rezervasyon_Otel]
GO
USE [master]
GO
